<link href="../../Content/knowledge.css" rel="stylesheet" />
<main id="content">
    <div class="contentLeft">
        <div class="clearfix">
            <ul class="breadcrumb">
                <li><a href="homepage.html">home</a></li>
                <li><span>knowlege</span></li>
            </ul>
        </div>
        <div class="text">
            <h2>What is UV?</h2>
            <p>
                Ultraviolet (UV) radiation is a type of energy produced by the sun and some artificial sources, such
                as arc welders and solariums.<br>

                The sun's UV is the main cause of skin cancer. Too much UV exposure also causes sunburn, tanning,
                premature ageing and eye damage.<br>

                You can see the sun's light. You can feel the sun's heat. But you can't see or feel the sun's UV
                radiation. UV can reach you directly from the sun. It can also be reflected off different surfaces
                and scattered by particles in the air.<br>

                Your senses cannot detect UV radiation, so you won't notice it is all around you and you won't
                notice any skin damage until it has been done.<br>
            </p>

            <h2>The UV Index</h2>

            <p>
                The World Health Organization's Global Solar UV Index measures UV levels on a scale from 0 (Low) to
                11+ (Extreme). Sun protection is recommended when UV levels are 3 (Moderate) or higher.<br>

                The UV level is affected by a number of factors including the time of day, time of year, cloud
                cover, altitude, location and surrounding surfaces.<br>
            </p>
        </div>
    </div>
    <div contentRight>

    </div>
</main>
<footer>
</footer>